# Aktiviert die Devbox-Umgebung beim cd in dieses Repo.
# Voraussetzung: direnv installiert + Shell-Hook gesetzt (https://direnv.net/docs/hook.html).
# Erste Aktivierung: `direnv allow`.

eval "$(devbox generate direnv --print-envrc)"
